{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
    <div class="databaselab5">
        <div>
        Пользователь: {% if username %} {{ username }} {% else %} Anonim {% endif %}
        </div>
        <form action="/lab5/articles">
            <button class="button_user" type="submit">Заметки</button>
        </form>
        <form action="/lab5/newtitle">
            <button class="button_user" type="submit">Создать заметки</button>
        </form>
        <form action="/lab5/login5">
            <button class="button_user" type="submit">Логин</button>
        </form>
        <form action="/lab5/register">
            <button class="button_user" type="submit">Регистрация</button>
        </form>
        <form action="/lab5/logout">
            <button class="button_user" type="submit">Выйти</button>
        </form>

        <div>
            <h1>{{ article_title }}</h1>
            {% for paragraph in article_text %}
            <p> {{ paragraph }} </p>
            {% endfor %}
        </div>
        <form action="" method="post">
        <div>
            <div>Добавить в избранное?</div>
                <input type="radio" name="favorite"  value="yes">Да 
                <input type="radio" name="favorite"  value="no"> Нет
                <input type="submit" value="Apply">
            </div>
            <div>
                <input type="submit" name="likes" value="Лайк">
            </div>
        </form>
        <div>
            Количество лайков: {{ likes_count }}
        </div>
    </div>



{% endblock %}