{% extends "base.html" %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}

    <div  class="databaselab5">
        <div>
            Пользователь: {% if username %} {{ username }} {% else %} Anonim {% endif %}
        </div>
        <form action="/lab5/articles">
            <button class="button_user" type="submit">Заметки</button>
        </form>
        <form action="/lab5/newtitle">
            <button class="button_user" type="submit">Создать заметки</button>
        </form>
        <form action="/lab5/login5">
            <button class="button_user" type="submit">Логин</button>
        </form>
        <form action="/lab5/register">
            <button class="button_user" type="submit">Регистрация</button>
        </form>
        <form action="/lab5/logout">
            <button class="button_user" type="submit">Выйти</button>
        </form>
        

        <div>статьи пользователя, {{ username }}</div>
        <h1>Статьи</h1>
        <ul>
            {% for article in articles %}
            <li>{{ article.title }} <a href="/lab5/articles/{{ article.id }}">/lab5/articles/{{ article.id }}</a></li>
            {% endfor %}
        </ul>

    </div>


{% endblock %}