<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css' ) }}">
    <title>Завгородний Илья Артурович {% block lab %}{% endblock %}</title>
    {% if color %}
    <style>

        body{
            color: {{ color }};
            background-color: {{ backgroundColor }};
            font-size: {{ fontSize }}px;
        }

    </style>
    {% endif %}

    {% block script %}{% endblock %}
</head>

<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        &copy; Завгородний Илья Артурович, ФБИ-14, 3 Курс, 2023
    </footer>
</body>
</html>