{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    <h1>Cookies</h1>
    <form action="" method="post">
          <div>
            <label for="color">Выберите цвет Текста:</label>
            <input type="color" id="color" name="color" value="{{ color }}">
          </div>
          <div>
            <label for="backgroundColor">Выберите цвет Фона:</label>
            <input type="color" id="backgroundColor" name="backgroundColor" value="{{ backgroundColor }}">
          </div>
          <div>
            <label for="fontSize">Выберите размер Текста:</label>
            <input type="number" id="fontSize" name="fontSize" min="5" max="30" value="{{ fontSize }}">
          </div>
          <div>
            <button type="submit">Ок</button>
          </div>
          <p>{{ error }}</p>
    </form>

    <style>
        body {
            background-color: {{ backgroundColor }};
            font-size: {{ fontSize }}px;
        }
    </style>

{% endblock %}