{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}

    <form method="post">
        <h1>Холодильник</h1>
        <div>
            <label for="">Введите температуру</label>
            <input type="number" id="temperature" name="temperature">
            <button type="submit">Установить температуру</button>
        </div>
    </form> 
    <div style="margin-top: 20px;"> {{ message }}</div>
    <div style="margin-top: 30px;"><a href="/lab4/">Лабораторная 4</a></div>

{% endblock %}