{% extends "base.html" %}

{% block lab %}Лабораторная 5{% endblock %}

{% block main%}
    <div class="databaselab5">
        <ol>
            <h1>Flask и БД<h1></h1>
            <div>
                Пользователь: {% if username %} {{ username }} {% else %} Anonim {% endif %}
            </div>
            <form action="/lab5/articles">
                <button class="button_user" type="submit">Заметки</button>
            </form>
            <form action="/lab5/newtitle">
                <button class="button_user" type="submit">Создать заметки</button>
            </form>
            <form action="/lab5/login5">
                <button class="button_user" type="submit">Логин</button>
            </form>
            <form action="/lab5/register">
                <button class="button_user" type="submit">Регистрация</button>
            </form>
            <form action="/lab5/logout">
                <button class="button_user" type="submit">Выйти</button>
            </form>
            <form action="/lab5/users">
                <button class="button_user" type="submit">Юзеры</button>
            </form>
        </ol>
    </div>
{% endblock %}