{% extends "base.html" %}

{% block lab %}Лабораторная 6{% endblock %}

{% block main%}
    <div class="databaselab6">
        <ol>
            <h1>Flask и БД<h1></h1>
            <div>
                Пользователь: {% if current_user.username %} {{ current_user.username }} {% else %} Anonim {% endif %}
            </div>
            <form action="/lab6/articles">
                <button class="button_user" type="submit">Заметки</button>
            </form>
            <form action="/lab6/newtitle">
                <button class="button_user" type="submit">Создать заметки</button>
            </form>
            <form action="/lab6/login">
                <button class="button_user" type="submit">Логин</button>
            </form>
            <form action="/lab6/register">
                <button class="button_user" type="submit">Регистрация</button>
            </form>
            <form action="/lab6/logout">
                <button class="button_user" type="submit">Выйти</button>
            </form>
        </ol>
    </div>
{% endblock %}