{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    <h1>Оплата</h1>
    <div>
        Сумма к оплате: {{ price }}
    </div>

    <form action="/lab3/success">

        <div>Номер банковской карты:</div>
        <label for="">
            <input type="text" name="card" id="" pattern="\d{16}">
        </label>

        <div>Имя держателя карты:</div>
        <label for="">
            <input type="text" name="name">
        </label>

        <div>Номер CVV:</div>
        <label for="">
            <input type="text" name="cvv" size="3" pattern="\d{3}">
        </label>

        <div>
            <button type="submit">Оплатить</button>
            <a href="/lab3/order"></a>
        </div>


    </form>


{% endblock %}