{% extends "base.html" %}

{% block lab %}Лабораторная 5{% endblock %}

{% block main%}
    <h1>Страница регистрации</h1>
    <form action="" method="post">
        <div class="input_label">
            <input type="text" name="username" placeholder="username">
            <label for="username">Логин</label>
        </div>
        
        <div class="input_label">
            <input type="text" name="password" placeholder="password">
            <label for="password">Пароль</label>
        </div>
        <button type="submit" class="button_user">Зарегистрироваться</button>
        <button type="reset" class="button_user">Отмена</button>

        <div>
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        </div>
    </form>

{% endblock %}